@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.main_div{
  display: flex;
  flex-direction: row;
  width: 95vw;
  height: 95vh;
  font-family: 'Roboto', sans-serif;
}

.header_div {
  display: flex;
  flex: auto;
  width: 30%;
  justify-content: center;
  justify-items: center;
  align-items: center;
 
}

.header_text {
  display: flex;
  flex: auto;
  margin: auto;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center; 
  text-align: center;
  font-weight: 900;
  border-right: 2px black solid;
  padding: 5px;
}

.side_div {
  display: flex;
  flex: auto;
  width: 70%;
  height: 95vh;
  justify-content: center;
  justify-items: center;
  align-items: start;
  padding-left: 20px;
}

.side_main_div {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 50%;
  align-items: start;
  text-align: center;
  position: relative;
  margin: auto;
}

.side_components {
  /* display: flex;
  flex: auto; */
  font-weight: 700;
  padding: 2px;
}

.side_components_border{
  display: flex;
  border: 1.5px black solid;
  width: 75%;
  height: 15%;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.radio-div{
  width: 75%;
  height: 10%;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.radio-div > * {
  border-right: 2px black solid;
  padding: 2px;
}

.radio-div > *:hover {
  text-decoration-line: underline;
}

#radio-year:checked + #label-year {
  text-decoration-line: underline;
  font-weight: 600;
}

#radio-filetype:checked + #label-filetype {
  text-decoration-line: underline;
  font-weight: 600;
}

.button-submit {
  width: 20%;
  height: 15%;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: 1.5px black solid;
  border-radius: 12px;
}

